/* form {
    background: #fff;
    padding: 4em 4em 2em;
    max-width: 70%;
    margin: 50px auto 0;
    box-shadow: 0 0 1em #222;
    border-radius: 10px;
    } */
    /* form h2 {
    margin: 0 0 50px 0;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    color: #666666;
    border-bottom: solid 1px #878787;
    } */
    form p {
    margin: 0 0 3em 0;
    position: relative;
    }
    form input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin: 0;
    }
    form input[type="text"]:focus,
    form input[type="password"]:focus {
    background: #fff;
    }
    /* form span {
    display: block;
    background: #f9a5a5;
    padding: 2px 5px;
    color: #666;
    } */
    /* form input[type="submit"] {
    background: rgba(148, 186, 101, 0.7);
    box-shadow: 0 3px 0 0 rgba(123, 163, 73, 0.7);
    border-radius: 2px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 2em;
    line-height: 1.6em;
    margin: 2em 0 0;
    outline: none;
    padding: 0.8em 0;
    text-shadow: 0 1px #68b25b;
    }
    form input[type="submit"]:hover {
    background: #94af65;
    text-shadow: 0 1px 3px rgba(70, 93, 41, 0.7);
    } */
    /* form label {
    position: absolute;
    left: 8px;
    top: 12px;
    color: #999;
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
    -moz-transition: color 0.3s, top 0.3s, background-color 0.8s;
    -o-transition: color 0.3s, top 0.3s, background-color 0.8s;
    -webkit-transition: color 0.3s, top 0.3s, background-color 0.8s;
    transition: color 0.3s, top 0.3s, background-color 0.8s;
    }
    form label.floatLabel {
    top: -19px;
    background-color: rgba(255, 255, 255, 1);
    font-size: 18px;
    } */
    
    .axgp{
        max-width: 400px;
    }
    .ogg{
        text-align: right;
    }
    .addd{
        margin-bottom: 2%;
    }

    .afoi{
        text-align: right;
        margin-top: 14%;
    }
    html {
        font-size: calc(60% + 0.8vmin);
    }